@import "./styles/reader-base.css";
@import "./styles/product-shell.css";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono Nerd Font Propo";
  src: url("./assets/fonts/space-mono-nerd-font-propo/SpaceMonoNerdFontPropo-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono Nerd Font Propo";
  src: url("./assets/fonts/space-mono-nerd-font-propo/SpaceMonoNerdFontPropo-Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono Nerd Font Propo";
  src: url("./assets/fonts/space-mono-nerd-font-propo/SpaceMonoNerdFontPropo-Italic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono Nerd Font Propo";
  src: url("./assets/fonts/space-mono-nerd-font-propo/SpaceMonoNerdFontPropo-BoldItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
